<h3>以下の内容でつぶやく</h3>

<%= form_with(model: @whisper, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>つぶやき内容:<%= @whisper.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
